{% trans_default_domain 'FOSUserBundle' %}

<div   >
<div    class=" well col-md-9 ">
        {{ form_start(form, { 'method': 'post', 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-success" type="submit" value="save" />
        </div>
        {{ form_end(form) }}
    </div>


    </div>